.sidebar-wrapper {
  width: 270px;
  background-color: #f8f9fa;
  position: fixed;
  margin-top: 60px;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    height: calc(100vh - 60px);
    li {
      padding: 30px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      color: #495057;
      i {
        padding-right: 15px;
      }
      &.active {
        background-color: #6c5ce7;
        color: white;
      }
    }
  }
}
