header {
  height: 60px;
  background-color: #ff6347;
  color: #fff;
  padding: 0 35px;
  position: fixed;
  width: 100%;
  .header-main-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .user-section {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    .dropdown-menu {
      background-color: #ffffff;
      height: 40px;
      position: absolute;
      margin-top: 70px;
      width: 130px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: red;
        cursor: pointer;
        box-shadow: 0px 2px 6px 0px;
      }
    }
    span {
      padding: 10px;
    }
  }
  p {
    margin: 0;
    font-family: cursive;
    font-size: 24px;
    display: flex;
    align-items: center;
    img {
      height: 35px;
      padding-right: 15px;
    }
  }
}
