.reservation {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(354deg, #62dba3, transparent);

  h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
  }

  .reservation-details {
    p {
      margin: 0;
      line-height: 1.5;

      strong {
        font-weight: bold;
      }
    }
  }
}
