<div>
    <div *ngIf="bookingData && bookingData.length > 0">
        <div *ngFor="let booking of bookingData" class="reservation">
            <p><strong>Booking ID:</strong> {{ booking.bookingId }}</p>
            <p><strong>Name:</strong> {{ booking.name }}</p>
            <p><strong>Email:</strong> {{ booking.email }}</p>
            <p><strong>Date:</strong> {{ booking.date }}</p>
            <p><strong>Time:</strong> {{ booking.time }}</p>
            <p><strong>Party Size:</strong> {{ booking.partySize }}</p>
            <p><strong>Booking Status:</strong> {{ booking.bookingStatus }}</p>
            <button (click)="editBooking(booking)">Edit</button>
        </div>
    </div>
    <div *ngIf="bookingData && bookingData.length === 0">
        <p>No reservations for today.</p>
    </div>
</div>