<div>
  <div class="container">
    <div *ngIf="bookingData && bookingData.length > 0" class="row">
      <div *ngFor="let booking of bookingData" class="reservation col-sm-5">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">Booking ID</div>
            <div class="col-sm-8">
              {{ booking.bookingId }}
            </div>
            <div class="col-sm-4">Date/Time</div>
            <div class="col-sm-8">{{ booking.date }} / {{ booking.time }}</div>
            <div class="col-sm-4">Name</div>
            <div class="col-sm-8">
              {{ booking.name }}
            </div>
            <div class="col-sm-4">Email</div>
            <div class="col-sm-8">
              {{ booking.email }}
            </div>
            <div class="col-sm-4">Guest Count</div>
            <div class="col-sm-8">
              {{ booking.partySize }}
            </div>
            <div class="col-sm-4">Status</div>
            <div class="col-sm-8">
              {{ booking.bookingStatus }}
            </div>
          </div>
        </div>
        <!-- <p><strong>Booking ID:</strong> {{ booking.bookingId }}</p>
        <p><strong>Name:</strong> {{ booking.name }}</p>
        <p><strong>Email:</strong> {{ booking.email }}</p>
        <p><strong>Date:</strong> {{ booking.date }}</p>
        <p><strong>Time:</strong> {{ booking.time }}</p>
        <p><strong>Party Size:</strong> {{ booking.partySize }}</p>
        <p><strong>Booking Status:</strong> {{ booking.bookingStatus }}</p> -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt-3">
              <button
                class="btn btn-primary col-md-12"
                (click)="editBooking(booking)"
              >
                Edit
              </button>
            </div>
            
            <div class="col-md-6 mt-3">
              <button class="btn btn-danger col-md-12">Cancel</button>
            </div>
          </div>
        </div>

        <!-- <button (click)="setActiveItem('editBooking')">Edit</button> -->
      </div>
    </div>
  </div>
  <div *ngIf="bookingData && bookingData.length === 0">
    <p>No reservations for today.</p>
  </div>
</div>
