.reservation {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;

  h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
  }

  .reservation-details {
    p {
      margin: 0;
      line-height: 1.5;

      strong {
        font-weight: bold;
      }
    }
  }
}
table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table thead {
  background-color: #ff6347;
  color: #ffffff;
}
