/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

*,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.Main-dashboard-container {
  display: flex;
  .switch-tabs {
    width: calc(100% - 270px);
    background-color: #fff;
    padding: 30px;
    margin-left: 270px;
    margin-top: 60px;
  }
}
